node_modules/
.env

# Editors directories
.history
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sublime-*
*.vscode/*

# System files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db
Desktop.ini
$RECYCLE.BIN/
*.lnk
*.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Trash-*
